body {
    font-family: sans-serif;
}
ul {
    padding-left: 4em;
}
div#organization-tree {
    border: 1px solid black;
    width: 55%;
    min-height: 2in;
}
div#employee-list {
    border: 1px solid black;
    width: 35%;
    min-height: 2in;
    float: right;
}
li.position {
    x-border: 1px solid black;
}
div.employee-holder, div.position-employee {
    display: inline-block;
}
.position-name, .employee-id, .employee-name {
    display: inline-block;
    padding-right: 0.5em;
}
div.employee-holder {
    min-width: 9em;
}
.employee-id {
    width: 2em;
}
.employee-name {
    font-weight: bold;
}
.employee-name {
    min-width: 5em;
}
